
@{
    ViewBag.Title = "Profile";
}
<h2>Profile</h2>
<html>
<body>
    <a href="/Accounts/">
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="/images/home/Account.jpg" alt="">
                        <h2>Accounts</h2>
                        <p>Manage User Account</p>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>Accounts</h2>
                            <p>Manage User Account</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </a>
    <a href="/Categories/">
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="/images/home/Products.png" alt="">
                        <h2>Categories</h2>
                        <p>Manage User Categories </p>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">

                            <h2>Categories</h2>
                            <p>Manage User Categories </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </a>

    <a href="/Products/">
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="/images/home/Categores.png" alt="">
                        <h2>Products</h2>
                        <p>Manage User Products</p>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>Products</h2>
                            <p>Manage User Products</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </a>
</body>
</html>